<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-container">
        <div class="data-video">
            <video class="video-stream" src="video.mp4" controls></video>
        </div>
        <div class="data-compass">
            <h1>Data Kompass</h1>
        </div>
        <div>
            <h1>Data Kompass</h1>
        </div>
    </div>

    <div class="bottom-navbar">
        <button>Home</button>
        <button>OK</button>
    </div>
   
</body>
</html>